body {
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: url('../image/background.png') ;
}

h1 {
    margin-top: 20px;
    font-size: 50px;
    text-align: center ;
}



h2{
    color: white!important;
    margin-top:50px !important;
}
.name  {
    color: #7F56D9;
}

.text-center {
    margin-top: 50px;
}

#activities {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.education,
.socialActivity {
    flex: 1;
    padding: 20px;
}

.education ul,
.socialActivity ul {
    list-style: none;
    padding: 0;
}

.title {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #c65b95;
}


.subtitle {
    font-size: 16px;
    font-weight: normal;
    color: #a39d9d;
}

.divider {
    padding: 0 20px; /* Boşluk için padding kullanıyoruz */
}

.divider img {
    max-width: 100%;
    height: auto;
}

footer {
    color: black;
    position: fixed; /* Sayfanın altında sabitlenmesini sağlar */
    bottom: 0; /* Sayfanın altına yaslar */
    width: 100%;
    margin: 0; /* Footer'ı genişliği boyunca yaymak için */
}

.activity-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.activity-section {
    width: 100%;
    position: relative;
    height: 350px;
    overflow: hidden;
}

.activity-list {
    position: absolute;
    transition: top 1s ease-in-out;
}


@keyframes rotateX {
    from { transform: rotateX(0); }
    to { transform: rotateX(360deg); }
}
