body {
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: url('../image/background4-min.png') ;
    background-size: cover; /* Arka plan resminin ekran boyutuna otomatik olarak uyum sağlamasını sağlar */
}
nav{
    background-color: black;
    padding: 10px;
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type:none;
}

nav li a{
    font-size: 16px;
    color: white;
    text-decoration: none;
}

h1 {
    margin-top: 20px;
    font-size: 50px;
}
.name{
    color: #7F56D9;
}

#activities {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.education,
.socialActivity {
    flex: 1;
    padding: 20px;
}

.education ul,
.socialActivity ul {
    list-style: none;
    padding: 0;
}

.education h2,
.socialActivity h2 {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #c65b95;
}

.education li,
.socialActivity li {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #f4f0f0;
}

.subtitle {
    font-size: 16px;
    font-weight: normal;
    color: #a39d9d;
}

.divider {
    padding: 0 20px; /* Boşluk için padding kullanıyoruz */
}

.divider img {
    max-width: 100%;
    height: auto;
}

footer {
    color: black;
    position: fixed; /* Sayfanın altında sabitlenmesini sağlar */
    bottom: 0; /* Sayfanın altına yaslar */
    width: 100%;
    margin: 0; /* Footer'ı genişliği boyunca yaymak için */
}