body{
    margin:0 auto;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
}

.home-page-div{
    margin:0 auto;
    text-align:center;
}

.navbar{
    background-color: black;
    padding: 10px;
}

.navbar ul{
    display: flex;
    justify-content: space-around;
    list-style-type:none;
}

.navbar li a{
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.first-part button{
    font-size: larger;
    padding: 10px 20px;
    background-color: aliceblue;
    border: none ;
    margin-top: 20px;
    border-radius: 20px;
}

.first-part h1{
    font-size: 50px;
}

.name{
    color: #7F56D9;
}